@font-face {
  font-family: "Palatino Linotype";
  font-weight: 400;
  src: url("../fonts/palatinolinotype_roman.ttf") format("truetype");
}
@font-face {
  font-family: "Palatino Linotype";
  font-weight: 700;
  src: url("../fonts/palatinolinotype_bold.ttf") format("truetype");
}
html {
  min-width: 1340px;
  font-size: 16px;
  font-family: "Palatino Linotype", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  color: #ffffff;
  background: url(../assets/main-banner-min.webp) top center no-repeat;
  background-size: 1920px;
  background-color: #0d0d10;
}
body > * {
  position: relative;
  margin: 0 auto;
  width: 1320px;
}

a,
button,
input,
textarea {
  font-family: "Palatino Linotype", sans-serif;
  text-decoration: none;
}

a {
  color: inherit;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.button {
  display: block;
  max-width: 195px;
  width: 100%;
  margin: 0 auto;
  padding: 14px 16px 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #dfd2bb;
  outline: none;
  border: none;
  background: url(../assets/button-bg-min.webp) center no-repeat;
  transition: background-image ease-in-out 0.1s;
  cursor: pointer;
}
.button:hover {
  background-image: url(../assets/button-bg-hover-min.webp);
}
.button:active {
  background-image: url(../assets/button-bg-active-min.webp);
}

.header {
  padding: 24px 0 18px;
}
.header__logo {
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  position: relative;
  margin-bottom: 166px;
  box-sizing: border-box;
  border-radius: 20px;
}
.main::before, .main::after {
  content: "";
  position: absolute;
  top: 100px;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 145px;
  background: url(../assets/main-shadow-min.webp) top left repeat-y;
  filter: blur(3px);
}
.main::before {
  left: -145px;
}
.main::after {
  right: -145px;
  transform: scale(-1, 1);
}
.main__top, .main__bottom {
  position: absolute;
  left: -5px;
  right: -5px;
  z-index: 10;
  display: block;
  height: 106px;
  width: 1290px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: url(../assets/main-border-min.webp) center/1290px no-repeat;
}
.main__top {
  top: -10px;
}
.main__bottom {
  bottom: -10px;
  transform: scale(1, -1);
}
.main__wrapper {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: stretch;
  gap: 70px;
  height: 100%;
  padding: 0 70px;
}
.main__wrapper::before, .main__wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: block;
  width: 70px;
  box-sizing: border-box;
  background: url(../assets/divider-min.webp) top center repeat-y;
}
.main__wrapper::before {
  left: 0;
}
.main__wrapper::after {
  right: 0;
  transform: scale(-1, 1);
}
.main__content {
  position: relative;
  flex: 1 1 auto;
  padding: 55px 0 96px;
  background: url(../assets/main-content-bg-min.webp) top center repeat-y;
}
.main__content::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: -70px;
  bottom: 0;
  display: block;
  width: 70px;
  box-sizing: border-box;
  background: url(../assets/divider-min.webp) top center repeat-y;
}
.main__sidebar {
  flex: 0 0 330px;
  padding: 80px 30px 96px;
  box-sizing: border-box;
  background: url(../assets/sidebar-bg-min.webp) top center repeat-y;
  background-color: #c3a684;
}

.sidebar > * {
  margin: 0 0 20px;
}
.sidebar__title {
  max-width: 270px;
  height: 69px;
  width: 100%;
  margin: 0 auto 20px;
  padding: 23px 24px 22px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #c3a684;
  background: url(../assets/sidebar-title-min.webp) center no-repeat;
}
.sidebar__login-form-fieldset {
  padding: 0;
  margin: 0 0 10px;
  border: none;
}
.sidebar__login-form-wrapper {
  padding: 2px;
  background: url(../assets/sidebar-item-bg-min.webp) top center repeat;
}
.sidebar__login-form-input {
  display: block;
  width: 100%;
  height: auto;
  padding: 11px 18px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #211614;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.sidebar__login-form-input::-moz-placeholder {
  color: #8d8785;
}
.sidebar__login-form-input::placeholder {
  color: #8d8785;
}
.sidebar__login-form-input:disabled {
  color: #8d8785;
}
.sidebar__login-form-input:invalid {
  color: #920404;
}
.sidebar__login-form-input:focus {
  background-color: #2e2117;
}
.sidebar__login-form-label {
  display: block;
  margin: 0 0 4px;
  font-weight: 400;
  font-size: 16px;
  color: #211612;
}
.sidebar__login-form-label b {
  font-weight: 700;
}
.sidebar__login-form-controls {
  padding: 0;
  border: none;
}
.sidebar__server-card {
  padding-bottom: 20px;
  background: url(../assets/list-divider-min.webp) bottom center no-repeat;
}
.sidebar__server-card-toggler {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}
.sidebar__server-card-toggler::after {
  content: "";
  height: 16px;
  width: 16px;
  background: url(../assets/dropdown.svg) center no-repeat;
  transform: rotate(0);
}
.active .sidebar__server-card-toggler::after {
  transform: rotate(180deg);
}
.sidebar__server-card-name {
  max-width: 88px;
  color: #490909;
}
.sidebar__server-card-name span {
  color: #920404;
}
.sidebar__server-card-players {
  max-width: 64px;
  box-sizing: border-box;
  padding-left: 15px;
  color: #2a1719;
  background: url(../assets/swords.svg) left top 2px no-repeat;
}
.sidebar__server-card-online {
  color: #2a1719;
}
.sidebar__server-card-online span {
  color: #24cd21;
}
.sidebar__server-card-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.sidebar__server-card-panel-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0;
}
.sidebar__server-card-panel-item:first-child {
  margin-top: 10px;
}
.sidebar__server-card-panel-item-id {
  padding-left: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #2a1719;
  background: url(../assets/green-crystal.webp) top 1px left no-repeat;
}
.disabled > .sidebar__server-card-panel-item-id {
  background-image: url(../assets/red-crystal.webp);
}
.sidebar__server-card-panel-item-indicator {
  flex: 0 0 138px;
  width: 138px;
  height: 14px;
  padding: 3px 7px;
  box-sizing: border-box;
  background: url(../assets/progress.webp) center no-repeat;
}
.sidebar__server-card-panel-item-indicator-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.sidebar__server-card-panel-item-indicator-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 40px 0;
}
.sidebar__server-card-panel-item-indicator-progress.low {
  background-image: url(../assets/progress-low-min.webp);
}
.sidebar__server-card-panel-item-indicator-progress.medium {
  background-image: url(../assets/progress-medium-min.webp);
}
.sidebar__server-card-panel-item-indicator-progress.high {
  background-image: url(../assets/progress-full-min.webp);
}
.sidebar__server-card-panel-item-indicator-progress.full {
  border-radius: 0;
  background-image: url(../assets/progress-full-min.webp);
}
.sidebar__server-card-panel-item-players {
  padding-left: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  color: #2a1719;
  background: url(../assets/swords.svg) left top 1px no-repeat;
}
.sidebar__server-info {
  margin: 10px 0 0;
  padding: 24px 0 0;
  background: url(../assets/server-divider-min.webp) top center no-repeat;
}
.sidebar__server-info-item {
  margin: 0 0 4px;
  text-align: center;
}
.sidebar__server-info-item-text {
  font-weight: 700;
  font-size: 16px;
  color: #211614;
}
.sidebar__server-info-item-value {
  font-weight: 700;
  font-size: 22px;
  color: #920404;
}
.sidebar__market-item {
  padding: 2px;
  margin: 0 0 10px;
  background: url(../assets/sidebar-item-bg-min.webp) center top repeat;
  background-size: 270px;
}
.sidebar__market-item-content {
  padding: 10px 18px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  background-color: #211614;
}
.sidebar__market-controls {
  text-align: center;
}
.sidebar__leaders-table {
  width: 100%;
  max-width: 270px;
  border: none;
}
.sidebar__leaders-table > thead > tr > th {
  padding: 0;
  padding-right: 8px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  color: #2a1719;
  text-align: left;
}
.sidebar__leaders-table > thead > tr > th:last-child {
  padding-right: 0;
}
.sidebar__leaders-table > tbody > tr {
  background: url(../assets/list-divider-min.webp) bottom center no-repeat;
}
.sidebar__leaders-table > tbody > tr > td {
  padding: 0;
  padding-right: 8px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2a1719;
  text-align: center;
}
.sidebar__leaders-table > tbody > tr > td:first-child {
  text-align: left;
  max-width: 116px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar__leaders-table > tbody > tr > td:last-child {
  padding-right: 0;
}
.sidebar__events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar__events-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 18px;
}
.sidebar__events-list-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 20px;
  background: url(../assets/list-divider-min.webp) center/cover no-repeat;
}
.sidebar__events-list-item-top, .sidebar__events-list-item-bottom {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-weight: 700;
  color: #2a1719;
}
.sidebar__events-list-item-top {
  font-size: 18px;
}
.sidebar__events-list-item-bottom {
  font-size: 12px;
}

.main-event {
  position: relative;
  margin: 0 0 30px;
  padding-bottom: 58px;
  background: url(../assets/main-event-bg-min.webp) bottom center no-repeat;
  background-size: 740px;
}
.main-event__content {
  min-width: 0;
}
.main-event__content .swiper {
  min-width: 0;
}
.main-event__content .swiper-wrapper {
  min-width: 0;
}
.main-event__content .swiper-slide {
  min-width: 0;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}
.main-event__controls {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 2;
}
.main-event__controls-prev, .main-event__controls-next {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../assets/button-next-min.webp) center no-repeat;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.main-event__controls-prev:hover, .main-event__controls-next:hover {
  background-image: url(../assets/button-next-hover-min.webp);
}
.main-event__controls-prev.swiper-button-disabled, .main-event__controls-next.swiper-button-disabled {
  background-image: url(../assets/button-next-disabled-min.webp);
}
.main-event__controls-prev {
  transform: rotate(180deg);
}
.main-event__controls-next {
  margin-left: 8px;
}
.main-event__slide {
  position: relative;
  z-index: 1;
  height: 400px;
  padding: 50px 30px 30px;
  box-sizing: border-box;
}
.main-event__slide-figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.main-event__slide-figure-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-event__slide-title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}
.main-event__slide-name {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}
.main-event__slide-start {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 2;
}
.main-event__slide-start-text {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.main-event__slide-start-counter {
  font-weight: 700;
  font-size: 70px;
  color: #fff;
}

.heading {
  margin: 0 auto 20px;
  width: 311px;
  padding: 22px 24px 21px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ebd2b5;
  text-align: center;
  background: url(../assets/heading-bg-min.webp) center no-repeat;
  background-size: 311px;
}

.news {
  max-width: 680px;
  margin: 0 auto;
}
.news__item {
  position: relative;
  padding: 30px;
  margin: 0 0 20px;
}
.news__item-bg {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  background: url(../assets/news-bg-main-min.webp) top center repeat-y;
}
.news__item-bg::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  background: url(../assets/news-bg-top-min.webp) top center no-repeat;
}
.news__item-bg::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 50px;
  background: url(../assets/news-bg-bottom-min.webp) top center no-repeat;
}
.news__item-content {
  position: relative;
  z-index: 2;
}
.news__item-video {
  position: relative;
  width: 620px;
  height: 345px;
  margin: 0 0 20px;
  padding: 7px 11px 11px;
  box-sizing: border-box;
}
.news__item-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: url(../assets/video-border-min.webp) top center no-repeat;
  background-size: 620px;
  pointer-events: none;
}
.news__item-video > * {
  width: 100%;
  height: 100%;
}
.news__item-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}
.news__item-paragraph {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.news__item-paragraph a {
  color: #ffb247;
  transition: color ease-in-out 0.1s;
}
.news__item-paragraph a:hover {
  color: #cd831b;
}
.news__item-info {
  margin: 20px 0 0;
}
.news__item-info-views {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}
.news__item-info-views-text {
  font-weight: 400;
}
.news__item-info-views-value {
  font-weight: 700;
}
.news__item-info-date {
  display: inline-block;
  padding: 2px 8px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  background-color: #7f582e;
}