@font-face {
  font-family: "Palatino Linotype";
  font-weight: 400;
  src: url("../fonts/palatinolinotype_roman.ttf") format("truetype");
}
@font-face {
  font-family: "Palatino Linotype";
  font-weight: 700;
  src: url("../fonts/palatinolinotype_bold.ttf") format("truetype");
}
html {
  min-width: 1320px;
  font-size: 16px;
  font-family: "Palatino Linotype", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background: url(../assets/main-banner-min.webp) top center no-repeat;
  background-size: 1920px;
  background-color: #0d0d10;
}
body > * {
  position: relative;
  margin: 0 auto;
  width: 1320px;
}

a,
button,
input,
textarea {
  font-family: "Palatino Linotype", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1298px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 24px 0 18px;
}
.header__logo {
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  height: auto;
}