.header {
  padding: 24px 0 18px;

  &__logo {
    width: fit-content;
    user-select: none;

    &-link {
      display: block;

      &-image {
        display: block;
        width: 329px;
        height: 436px;
        border: none;
      }
    }
  }
}
