.main {
  position: relative;
  margin-bottom: 166px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: $black;

  &__left,
  &__right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 145px;
  }

  &__left {
    left: -145px;
    background: url(../assets/main-shadow-min.png) top left repeat-y;
  }

  &__right {
    right: -145px;
    background: url(../assets/main-shadow-right-min.png) top left repeat-y;
  }

  &__top,
  &__bottom {
    position: absolute;
    left: -5px;
    right: -5px;
    z-index: 10;
    display: block;
    height: 106px;
    width: 1290px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-size: 1290px;
  }

  &__top {
    top: -10px;
    background: url(../assets/main-border-min.png) center no-repeat;
  }

  &__bottom {
    bottom: -10px;
    background: url(../assets/main-border-bottom-min.png) center no-repeat;
  }

  &__wrapper {
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
    border: 0px solid #ffffff;

    &-left,
    &-right {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      display: block;
      width: 70px;
      box-sizing: border-box;
    }

    &-left {
      left: 0;
      background: url(../assets/divider-left-min.jpg) top center repeat-y;
    }

    &-right {
      right: 0;
      background: url(../assets/divider-right-min.jpg) top center repeat-y;
    }
  }

  &__content {
    position: relative;
    width: 740px;
    min-height: 100%;
    padding: 55px 30px 96px;
    box-sizing: border-box;
    vertical-align: top;
    background: url(../assets/main-content-bg-min.jpg) top center no-repeat;
    background-size: cover;
    border: 0px solid #ffffff;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: 1;
    //   top: 0;
    //   right: -70px;
    //   bottom: 0;
    //   display: block;
    //   width: 70px;
    //   box-sizing: border-box;
    //   background: url(../assets/divider-min.jpg) top center repeat-y;
    // }
  }

  &__divider {
    padding: 0;
    width: 70px;
    border: 0px solid #ffffff;
    background: url(../assets/divider-left-min.jpg) top center repeat-y;
  }

  &__sidebar {
    width: 330px;
    padding: 80px 30px 96px;
    box-sizing: border-box;
    background: url(../assets/sidebar-bg-min.jpg) top center repeat-y;
    border: none;
    vertical-align: top;
  }
}
